Repository 1kuna/JPS-Prospect-Aggregate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, pytest-check, vitest-check, npm-audit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|rst)$
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-python-dateutil
        args: [--ignore-missing-imports]
        exclude: ^(migrations/|tests/|scripts/)

  # Python security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^tests/

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend-react && npm run lint'
        language: system
        files: ^frontend-react/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript Check (frontend)
        entry: bash -c 'cd frontend-react && npx tsc --noEmit'
        language: system
        files: ^frontend-react/.*\.(ts|tsx)$
        pass_filenames: false

  # Python tests (only run on Python file changes)
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest
        entry: python -m pytest tests/ -x --ff
        language: system
        files: ^(app/|tests/).*\.py$
        pass_filenames: false

  # Frontend tests (only run on frontend changes)
  - repo: local
    hooks:
      - id: vitest-check
        name: Vitest (frontend)
        entry: bash -c 'cd frontend-react && npm run test -- --run --reporter=verbose'
        language: system
        files: ^frontend-react/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Git commit message formatting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Documentation
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: |
          (?x)^(
              .*\.lock|
              .*\.min\.(js|css)|
              frontend-react/node_modules/.*|
              .*\.log
          )$

  # Security scanning for frontend dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Audit (frontend)
        entry: bash -c 'cd frontend-react && npm audit --audit-level moderate'
        language: system
        files: ^frontend-react/(package\.json|package-lock\.json)$
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '2.20.0'

# Exclude patterns
exclude: |
  (?x)^(
      migrations/.*|
      \.venv/.*|
      venv/.*|
      env/.*|
      __pycache__/.*|
      \.pytest_cache/.*|
      \.mypy_cache/.*|
      \.ruff_cache/.*|
      node_modules/.*|
      dist/.*|
      build/.*|
      htmlcov/.*|
      \.coverage.*|
      coverage\.xml|
      playwright-report/.*|
      test-results/.*
  )$

Fixes to the CI pipeline
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Fixed typo
  .github/workflows/ci.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Organize root directory and implement local CI testing
  .gitignore
  Dockerfile
  Makefile
  ci-test/.actrc
  ci-test/Dockerfile.frontend-test
  ci-test/Dockerfile.python-test
  ci-test/Makefile
  ci-test/README.md
  ci-test/docker-compose.test.yml
  ci-test/test-ci-local.sh
  docker/docker-build.sh
  docker/docker-compose-minimal.yml
  docker/docker-start.ps1
  docker/docker-start.sh
  docker/docker-test-log.md
  docker/entrypoint.sh
  docs/CODEBASE_IMPROVEMENTS.md
  docs/DOCKER_MIGRATION_FIX.md
  docs/REFACTORING_SUMMARY.md
  docs/TESTING.md
  frontend-react/src/components/AIEnrichment.test.tsx
  frontend-react/src/components/DuplicateReview.tsx
  frontend-react/src/components/EnhancementButton.test.tsx
  frontend-react/src/components/EnhancementErrorBoundary.tsx
  frontend-react/src/components/ErrorBoundary.tsx
  frontend-react/src/components/GoNoGoDecision.test.tsx
  frontend-react/src/components/GoNoGoDecision.tsx
  frontend-react/src/components/advanced/ScriptExecutor.tsx
  frontend-react/src/components/layout/Navigation.test.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.test.tsx
  frontend-react/tsconfig.test.json
Due: eslint, typescript-check, vitest-check

Fix scraper issues and improve monitoring
  app/database/models.py
  app/utils/duplicate_prevention.py
  migrations/alembic_helpers.py
  scripts/monitor_scrapers.py
Due: pytest-check

Improve scraper status system with meaningful states
  app/api/data_sources.py
  frontend-react/src/components/advanced/DataSourceTable.tsx
  frontend-react/src/utils/statusUtils.ts
Due: eslint, typescript-check, pytest-check, vitest-check

Restrict Data Sources tab to super-admin users only
  app/api/data_sources.py
  app/api/llm_processing.py
  app/api/scrapers.py
  app/core/scraper_configs.py
  app/core/scrapers/doc_scraper.py
  app/services/enhancement_queue.py
  app/services/llm_service.py
  frontend-react/src/components/DatabaseManagement.tsx
  frontend-react/src/components/EnhancementButton.test.tsx
  frontend-react/src/components/EnhancementButton.tsx
  frontend-react/src/components/EnhancementButtonWithSelector.tsx
  frontend-react/src/components/EnhancementErrorBoundary.tsx
  frontend-react/src/components/EnhancementProgress.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.test.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.tsx
  frontend-react/src/hooks/api/index.ts
  frontend-react/src/hooks/api/useDataSources.ts
  frontend-react/src/hooks/api/useEnhancement.test.ts
  frontend-react/src/hooks/api/useEnhancement.ts
  frontend-react/src/hooks/api/useEnhancementSimple.ts
  frontend-react/src/hooks/useDataSourceManagement.ts
  frontend-react/src/hooks/useEnhancementActivityMonitor.test.ts
  frontend-react/src/hooks/useEnhancementActivityMonitor.ts
  frontend-react/src/hooks/useProspectColumns.tsx
  frontend-react/src/hooks/useTabNavigation.ts
  frontend-react/src/pages/Advanced.tsx
  frontend-react/src/tests/integration/ProspectWorkflow.test.tsx
  frontend-react/src/types/prospects.ts
Due: eslint, typescript-check, pytest-check, vitest-check

Complete comprehensive test suite modernization for production-level testing
  docs/archive/TEST_UPDATE_PLAN.md
  frontend-react/src/components/AIEnrichment.test.tsx
  frontend-react/src/components/GoNoGoDecision.test.tsx
  frontend-react/src/components/layout/Navigation.test.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.test.tsx
  frontend-react/src/components/prospect/ProspectFilters.test.tsx
  frontend-react/src/components/prospect/ProspectTable.test.tsx
  frontend-react/src/contexts/TimezoneContext.test.tsx
  frontend-react/src/contexts/ToastContext.test.tsx
  frontend-react/src/hooks/api/useAuth.test.ts
  frontend-react/src/hooks/api/useDecisions.test.ts
  frontend-react/src/hooks/useError.test.ts
  frontend-react/src/hooks/usePaginatedProspects.test.ts
  frontend-react/src/test/example.test.tsx
  frontend-react/src/tests/integration/ProspectWorkflow.test.tsx
  tests/api/test_decisions_api.py
  tests/api/test_llm_processing.py
  tests/api/test_prospects_api.py
  tests/core/scrapers/test_scrapers.py
  tests/core/test_consolidated_scraper_base.py
  tests/database/test_enhanced_upsert.py
  tests/database/test_enhanced_upsert_manual.py
  tests/database/test_models.py
  tests/integration/test_ai_preservation.py
  tests/integration/test_ai_preservation_manual.py
  tests/integration/test_api_workflows.py
  tests/integration/test_llm_api_integration.py
  tests/performance/test_performance.py
  tests/security/test_security.py
  tests/services/test_enhancement_queue.py
  tests/services/test_llm_service.py
  tests/test_duplicate_prevention.py
  tests/utils/test_duplicate_logic.py
  tests/utils/test_duplicate_logic_manual.py
  tests/utils/test_naics_lookup.py
Due: eslint, typescript-check, pytest-check, vitest-check

Remove overzealous synonym matching implementation
  app/core/consolidated_scraper_base.py
  app/core/scraper_configs.py
  app/core/scrapers/treasury_scraper.py
Due: pytest-check

Update and clean up documentation for accuracy
  docs/ARCHITECTURE.md
  docs/BACKLOG.md
  docs/CODEBASE_IMPROVEMENTS.md
  docs/CONTRACT_MAPPING_LLM.md
  docs/DATA_MAPPING_GUIDE.md
  docs/REFACTORING_SUMMARY.md
  docs/TESTING.md
  docs/TEST_FIXES_PENDING.md
  docs/archive/TEST_UPDATE_PLAN.md
  docs/scraper_analysis_report.md
Due: none

Comprehensive CLAUDE.md documentation overhaul and fixes
  CLAUDE.md
  CODEBASE_IMPROVEMENTS_NEW.md
  scripts/__init__.py
  scripts/export_csv.py
  scripts/run_scraper.py
Due: none

Fix CI/CD pipeline test failures and configuration issues
  CLAUDE.md
  frontend-react/eslint.config.js
  frontend-react/src/components/EnhancementButtonWithSelector.tsx
  frontend-react/src/components/UserManagement.tsx
  frontend-react/src/components/prospect/ProspectTable.test.tsx
  frontend-react/src/hooks/useError.test.ts
  frontend-react/tsconfig.json
  pyproject.toml
  tests/database/test_models.py
  tests/services/test_llm_service.py
Due: eslint, typescript-check, pytest-check, vitest-check

Implement automatic database initialization and fix authentication for data sources
  app/__init__.py
  app/config.py
  app/database/auto_init.py
  app/utils/database_initializer.py
  frontend-react/src/utils/apiUtils.ts
  run.py
Due: eslint, typescript-check, pytest-check, vitest-check
