Repository 1kuna/JPS-Prospect-Aggregate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, pytest-check, vitest-check, npm-audit

eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend-react && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (frontend)
  entry: bash -c 'cd frontend-react && npx tsc --noEmit'
  language: system
  pass_filenames: false

pytest-check:
  name: pytest
  entry: python -m pytest tests/ -x --ff
  language: system
  pass_filenames: false

vitest-check:
  name: Vitest (frontend)
  entry: bash -c 'cd frontend-react && npm run test -- --run --reporter=verbose'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit (frontend)
  entry: bash -c 'cd frontend-react && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

refactor: Clean up and reorganize codebase structure
  .gitignore
  docs/archived-migrations/README.md
  docs/archived-migrations/add_role_column_to_users.py
  docs/archived-migrations/backfill_file_logs.py
  docs/archived-migrations/backfill_naics_descriptions.py
  docs/archived-migrations/create_llm_output_table.py
  docs/archived-migrations/fix_prospect_titles.py
  docs/archived-migrations/infer_missing_data.py
  docs/archived-migrations/migrate_contract_fields.py
  docs/archived-migrations/normalize_naics_codes.py
  docs/archived-migrations/standardize_naics_formatting.py
  frontend-react/tests/integration/ProspectWorkflow.test.tsx
  migrations/add_search_indexes_sqlite.sql
  tests/scrapers/run_scraper_tests.py
Due: eslint, typescript-check, pytest-check, vitest-check

refactor: Improve AI enhancement indicators UI consistency
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/hooks/useProspectColumns.tsx
Due: eslint, typescript-check, vitest-check

chore: Add .launcher/ directory to .gitignore
  .gitignore
Due: none

feat: Add React.memo optimizations and fix missing utils
  frontend-react/src/components/layout/Navigation.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/components/prospect/ProspectFilters.tsx
  frontend-react/src/components/prospect/ProspectTable.tsx
  frontend-react/src/lib/utils.ts
  frontend-react/tests/integration/ProspectTablePerformance.test.tsx
  tests/test_set_aside_processing.py
Due: eslint, typescript-check, pytest-check, vitest-check

fix: Auto-create missing UI utility file on frontend setup
  CLAUDE.md
  launch.sh
Due: none

Add new NAICS codes for various industries
  app/utils/naics_lookup.py
Due: pytest-check

Correct spelling of 'Centers' in NAICS codes
  app/utils/naics_lookup.py
Due: pytest-check

refactor: Centralize scraper process methods and extras creation
  app/core/consolidated_scraper_base.py
  app/core/scraper_configs.py
  app/core/scrapers/dhs_scraper.py
  app/core/scrapers/doc_scraper.py
  app/core/scrapers/doj_scraper.py
  app/core/scrapers/dos_scraper.py
  app/core/scrapers/dot_scraper.py
  app/core/scrapers/hhs_scraper.py
  app/core/scrapers/ssa_scraper.py
  app/core/scrapers/treasury_scraper.py
Due: pytest-check

refactor: Parameterize common transform primitives in scrapers
  app/core/consolidated_scraper_base.py
  app/core/scraper_configs.py
  app/core/scrapers/dhs_scraper.py
  app/core/scrapers/doc_scraper.py
  app/core/scrapers/doj_scraper.py
  app/core/scrapers/dos_scraper.py
  app/core/scrapers/dot_scraper.py
  app/core/scrapers/hhs_scraper.py
  app/core/scrapers/ssa_scraper.py
  app/core/scrapers/treasury_scraper.py
Due: pytest-check

refactor: Consolidate upsert logic into single implementation
  app/config.py
  app/database/crud.py
  app/utils/duplicate_prevention.py
Due: pytest-check

refactor: DRY API boilerplate with factory utilities
  app/api/auth.py
  app/api/factory.py
  app/api/scrapers.py
Due: pytest-check

refactor: Complete DRY API boilerplate conversion
  app/api/admin.py
  app/api/main.py
  app/api/prospects.py
Due: pytest-check

refactor: DRY API boilerplate with factory pattern and logger helper
  app/api/data_sources.py
  app/api/decisions.py
  app/api/errors.py
  app/api/factory.py
  app/api/llm_processing.py
  app/api/prospects.py
  app/api/tools.py
  app/core/consolidated_scraper_base.py
  app/utils/duplicate_prevention.py
  app/utils/logger.py
  scripts/operations/health_check.py
Due: pytest-check

chore(tests): modernize test suite per TEST_SUITE_CHECKLIST.md
  .github/workflows/ci.yml
  TEST_SUITE_CHECKLIST.md
  app/__init__.py
  app/api/llm_processing.py
  docs/TESTING.md
  frontend-react/src/hooks/api/useDecisions.test.ts
  frontend-react/tests/integration/DecisionWorkflow.test.tsx
  frontend-react/tests/integration/ProspectWorkflow.test.tsx
  pytest.ini
  tests/api/test_decisions_api.py
  tests/api/test_llm_iterative_and_logs.py
  tests/api/test_llm_processing.py
  tests/api/test_prospects_api.py
  tests/conftest.py
  tests/core/scrapers/test_scrapers.py
  tests/core/test_cross_source_coverage.py
  tests/database/test_migrations.py
  tests/factories.py
  tests/fixtures/sample_acquisition_gateway.csv
  tests/fixtures/sample_dhs.json
  tests/fixtures/sample_dot.xlsx
  tests/fixtures/sample_hhs.csv
  tests/fixtures/sample_treasury.xlsx
  tests/integration/test_api_workflows.py
  tests/integration/test_llm_api_integration.py
  tests/performance/test_performance.py
  tests/scrapers/run_scraper_tests.py
  tests/security/test_security.py
  tests/services/test_enhancement_queue.py
  tests/services/test_llm_service.py
  tests/services/test_set_aside_standardization.py
  tests/utils/test_naics_lookup.py
  tests/utils/test_value_and_date_parsing.py
Due: eslint, typescript-check, pytest-check, vitest-check

refactor: major codebase cleanup and reorganization
  CLAUDE.md
  README.md
  app/core/scraper_base.py
  app/core/scraper_configs.py
  app/core/scrapers/acquisition_gateway.py
  app/core/scrapers/dhs_scraper.py
  app/core/scrapers/doc_scraper.py
  app/core/scrapers/doj_scraper.py
  app/core/scrapers/dos_scraper.py
  app/core/scrapers/dot_scraper.py
  app/core/scrapers/hhs_scraper.py
  app/core/scrapers/ssa_scraper.py
  app/core/scrapers/treasury_scraper.py
  docs/ARCHITECTURAL_REVIEW.md
  docs/ARCHITECTURE.md
  docs/DATA_MAPPING_GUIDE.md
  docs/TEST_SUITE_CHECKLIST.md
  docs/archived-migrations/ARCHIVE_INFO.md
  docs/testing/test_enhancement_skip_display.md
  docs/testing/test_naics_enhancement_options.md
  migrations/MIGRATION_NAMING.md
  naics_analysis.csv
  tests/core/scrapers/test_scrapers.py
  tests/core/test_scraper_base.py
Due: pytest-check

fix: allow all authenticated users to access AI enhancement features
  app/api/llm_processing.py
Due: pytest-check

fix: resolve duplicate endpoint registration for clear_database
  app/api/main.py
Due: pytest-check

Improve AI enhancement status UX and queue polling
  app/__init__.py
  app/api/auth.py
  app/api/data_sources.py
  app/core/scraper_base.py
  app/core/scrapers/treasury_scraper.py
  app/database/models.py
  app/services/enhancement_queue.py
  app/utils/file_processing.py
  frontend-react/src/components/AIEnrichment.tsx
  frontend-react/src/components/EnhancementProgress.tsx
  frontend-react/src/components/GoNoGoDecision.tsx
  frontend-react/src/components/advanced/DataSourceTable.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.test.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.tsx
  frontend-react/src/hooks/api/useDataSources.ts
  frontend-react/src/hooks/api/useDecisions.test.ts
  frontend-react/src/hooks/api/useDecisions.ts
  frontend-react/src/hooks/api/useEnhancementQueueService.ts
  frontend-react/src/hooks/api/useEnhancementSimple.ts
  frontend-react/src/hooks/useDataSourceManagement.ts
  frontend-react/src/hooks/usePaginatedProspects.ts
  frontend-react/src/hooks/useProspectModal.ts
  frontend-react/src/pages/Login.tsx
  migrations/versions/8d8b7ee0b3ea_add_records_found_and_error_message_to_.py
  requirements.txt
Due: eslint, typescript-check, pytest-check, vitest-check

fix: restore admin_required import via factory
  app/api/tools.py
Due: pytest-check

ci: add frontend lint/test job
  .github/workflows/ci.yml
Due: none

fix(frontend): address lint errors in data source management
  frontend-react/src/components/prospect/ProspectTable.tsx
  frontend-react/src/hooks/useDataSourceManagement.ts
Due: eslint, typescript-check, vitest-check

test(frontend): stabilize decisions tests and CI run
  .github/workflows/ci.yml
  frontend-react/src/hooks/api/useDecisions.test.ts
  frontend-react/src/hooks/api/useDecisions.ts
Due: eslint, typescript-check, vitest-check

fix(frontend): correct import path for navigation build
  frontend-react/src/components/layout/Navigation.tsx
Due: eslint, typescript-check, vitest-check

fix(frontend-ci): ensure lib utils shipped
  .gitignore
  frontend-react/src/lib/utils.ts
Due: eslint, typescript-check, vitest-check

ci(frontend): enforce lint/type standards and cleanup deploy
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore(frontend): fix lint + types; disable fast-refresh rule; add tsc step; stabilize CI tests as non-blocking
  .github/workflows/ci.yml
  frontend-react/eslint.config.js
  frontend-react/src/components/AIEnrichment.tsx
  frontend-react/src/components/advanced/ScriptExecutor.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/components/ui/ConfirmationDialog.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.tsx
  frontend-react/src/hooks/api/useDataSources.ts
  frontend-react/src/hooks/api/useEnhancementSimple.ts
  frontend-react/src/hooks/useDataSourceManagement.ts
  frontend-react/src/hooks/useScraperOperations.ts
  frontend-react/src/pages/Prospects.tsx
  frontend-react/src/types/enhancement.ts
  frontend-react/src/types/global.d.ts
  frontend-react/tsconfig.json
Due: eslint, typescript-check, vitest-check

test(frontend): stabilize GoNoGoDecision tests; align component classes and behavior; remove brittle fast-refresh lint; type/lint clean
  frontend-react/src/components/GoNoGoDecision.test.tsx
  frontend-react/src/components/GoNoGoDecision.tsx
Due: eslint, typescript-check, vitest-check

feat(tests): make auth hooks stable and table render test-friendly (fallback cell rendering, AI indicator, test env row cap, onProspectClick); import React in auth hooks
  frontend-react/src/components/prospect/ProspectTable.tsx
  frontend-react/src/hooks/api/useAuth.ts
Due: eslint, typescript-check, vitest-check

Path conditions:
  eslint: any of: ^frontend-react/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    migrations/.*|
    \.venv/.*|
    venv/.*|
    env/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    node_modules/.*|
    dist/.*|
    build/.*|
    htmlcov/.*|
    \.coverage.*|
    coverage\.xml|
    playwright-report/.*|
    test-results/.*
)$
  typescript-check: any of: ^frontend-react/.*\.(ts|tsx)$, but not: (?x)^(
    migrations/.*|
    \.venv/.*|
    venv/.*|
    env/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    node_modules/.*|
    dist/.*|
    build/.*|
    htmlcov/.*|
    \.coverage.*|
    coverage\.xml|
    playwright-report/.*|
    test-results/.*
)$
  pytest-check: any of: ^(app/|tests/).*\.py$, but not: (?x)^(
    migrations/.*|
    \.venv/.*|
    venv/.*|
    env/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    node_modules/.*|
    dist/.*|
    build/.*|
    htmlcov/.*|
    \.coverage.*|
    coverage\.xml|
    playwright-report/.*|
    test-results/.*
)$
  vitest-check: any of: ^frontend-react/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
    migrations/.*|
    \.venv/.*|
    venv/.*|
    env/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    node_modules/.*|
    dist/.*|
    build/.*|
    htmlcov/.*|
    \.coverage.*|
    coverage\.xml|
    playwright-report/.*|
    test-results/.*
)$
  npm-audit: any of: ^frontend-react/(package\.json|package-lock\.json)$, but not: (?x)^(
    migrations/.*|
    \.venv/.*|
    venv/.*|
    env/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*|
    node_modules/.*|
    dist/.*|
    build/.*|
    htmlcov/.*|
    \.coverage.*|
    coverage\.xml|
    playwright-report/.*|
    test-results/.*
)$
