Repository 1kuna/JPS-Prospect-Aggregate: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, pytest-check, vitest-check, npm-audit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|rst)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|rst)$
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-python-dateutil
        args: [--ignore-missing-imports]
        exclude: ^(migrations/|tests/|scripts/)

  # Python security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^tests/

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend-react && npm run lint'
        language: system
        files: ^frontend-react/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript Check (frontend)
        entry: bash -c 'cd frontend-react && npx tsc --noEmit'
        language: system
        files: ^frontend-react/.*\.(ts|tsx)$
        pass_filenames: false

  # Python tests (only run on Python file changes)
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest
        entry: python -m pytest tests/ -x --ff
        language: system
        files: ^(app/|tests/).*\.py$
        pass_filenames: false

  # Frontend tests (only run on frontend changes)
  - repo: local
    hooks:
      - id: vitest-check
        name: Vitest (frontend)
        entry: bash -c 'cd frontend-react && npm run test -- --run --reporter=verbose'
        language: system
        files: ^frontend-react/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Git commit message formatting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Documentation
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: |
          (?x)^(
              .*\.lock|
              .*\.min\.(js|css)|
              frontend-react/node_modules/.*|
              .*\.log
          )$

  # Security scanning for frontend dependencies
  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Audit (frontend)
        entry: bash -c 'cd frontend-react && npm audit --audit-level moderate'
        language: system
        files: ^frontend-react/(package\.json|package-lock\.json)$
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '2.20.0'

# Exclude patterns
exclude: |
  (?x)^(
      migrations/.*|
      \.venv/.*|
      venv/.*|
      env/.*|
      __pycache__/.*|
      \.pytest_cache/.*|
      \.mypy_cache/.*|
      \.ruff_cache/.*|
      node_modules/.*|
      dist/.*|
      build/.*|
      htmlcov/.*|
      \.coverage.*|
      coverage\.xml|
      playwright-report/.*|
      test-results/.*
  )$

Add cookies.txt to gitignore and remove test cookie files
  .gitignore
Due: none

Add comprehensive architectural review and update TDD guidelines
  ARCHITECTURAL_REVIEW.md
  CLAUDE.md
Due: none

Organize and clean up scripts directory structure
  CLAUDE.md
  scripts/README.md
  scripts/archive/completed-migrations/README.md
  scripts/archive/completed-migrations/add_role_column_to_users.py
  scripts/archive/completed-migrations/backfill_file_logs.py
  scripts/archive/completed-migrations/backfill_naics_descriptions.py
  scripts/archive/completed-migrations/standardize_naics_formatting.py
  scripts/data_processing/analyze_field_coverage.py
  scripts/data_processing/analyze_set_asides.py
  scripts/data_processing/check_set_aside_results.py
  scripts/data_processing/export_db_to_csv.py
  scripts/data_processing/export_decisions_for_llm.py
  scripts/data_processing/restore_prospects_from_files.py
  scripts/data_processing/validate_data_extraction.py
  scripts/data_processing/validate_file_naming.py
  scripts/data_processing/validate_raw_data_mapping.py
  scripts/database/backup.sh
  scripts/database/check_schema.py
  scripts/database/repair_migrations.py
  scripts/database/restore.sh
  scripts/database/update_alembic.py
  scripts/export_csv.py
  scripts/operations/health_check.py
  scripts/operations/manage_users.py
  scripts/scrapers/monitor_scrapers.py
  scripts/scrapers/run_all_scrapers.py
  scripts/scrapers/run_scraper.py
  scripts/scrapers/test_scraper_individual.py
  scripts/setup/create_missing_tables.py
  scripts/setup/populate_data_sources.py
  scripts/setup/setup_databases.py
  scripts/testing/run_scraper_tests.py
Due: none

Fix Flask server startup infinite recursion issue
  app/__init__.py
  app/utils/migration_check.py
Due: pytest-check

Add comprehensive production deployment system
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  PRODUCTION_DEPLOYMENT_PLAN.md
  README.md
  app/__init__.py
  app/api/auth.py
  app/api/data_sources.py
  app/config.py
  app/utils/llm_utils.py
  deploy-production.sh
  docker-compose.yml
  docker/entrypoint.sh
  frontend-react/vite.config.ts
  run.py
  setup-production.sh
Due: eslint, typescript-check, pytest-check, vitest-check

fix: Add missing 'Z' suffix to UTC timestamp in LLM status endpoint
  app/api/llm_processing.py
Due: pytest-check

Added slop code remover agent
  .claude/agents/slop-code-eliminator.md
Due: none

Consolidate launcher scripts and simplify environment management
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  ci-test/test-ci-local.sh
  deploy-production.sh
  docker-compose.yml
  launch.ps1
  launch.sh
  setup-production.sh
Due: none

Remove outdated deployment checklist
  DEPLOYMENT_CHECKLIST.md
Due: none

Remove outdated production deployment plan
  PRODUCTION_DEPLOYMENT_PLAN.md
Due: none

Add smart prompting for production configuration
  .launcher/preferences.json
  launch.ps1
  launch.sh
Due: none

Add .launcher/ to gitignore and remove from tracking
  .gitignore
  .launcher/preferences.json
Due: none

Fix Docker healthcheck to use correct API endpoint
  docker-compose.yml
Due: none

Update documentation to reflect unified launcher workflow
  CLAUDE.md
  README.md
Due: none

Fix infinite loading on Data Sources page in production
  app/api/data_sources.py
Due: pytest-check

Add ProxyFix middleware for proper HTTPS detection behind Cloudflare Tunnel
  app/__init__.py
  app/config.py
  run.py
Due: pytest-check

Fix Docker cleanup with Cloudflare profile (closes #18)
  CLAUDE.md
  README.md
  launch.sh
Due: none

Fix line endings in ollama-init.sh from CRLF to LF
  docker/ollama-init.sh
Due: none

feat: Add pre-processing skip indicators for AI enhancement
  app/__init__.py
  app/api/llm_processing.py
  app/services/enhancement_queue.py
  app/utils/llm_utils.py
  frontend-react/src/components/EnhancementProgress.tsx
  frontend-react/src/components/prospect/ProspectDetailsModal.tsx
  frontend-react/src/contexts/ProspectEnhancementContext.tsx
  frontend-react/src/hooks/api/useEnhancementSimple.ts
  launch.sh
Due: eslint, typescript-check, pytest-check, vitest-check
